version: '3.4'
 
services:
 springboot-service:
   image: shamraokumbhar/backend:latest
   environment:
     SPRING_DATASOURCE_URL: jdbc:mysql://mysql-service:3306/hrmsdb
     SPRING_DATASOURCE_USERNAME: root
     SPRING_DATASOURCE_PASSWORD: root
   ports:
     - "8080:8080"
   depends_on:
     - mysql
   networks:
     - mynetwork
 
 frontend:
   image: shamraokumbhar/frontend:latest
   ports:
     - "4200:80"
   depends_on:
     - mysql
   networks:
     - mynetwork
 
 
 mysql-service:
   image: mysql:8.0
   environment:
     MYSQL_ROOT_PASSWORD: "root"
     MYSQL_DATABASE: "hrmsdb"
     MYSQL_PASSWORD: "root"
   ports:
     - "3306:3306"
   volumes:
     - mysql-data:/var/lib/mysql
   networks:
     - mynetwork
 
networks:
 mynetwork:
 
volumes:
 mysql-data:
