<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
<button class="btn btn-info" (click)="sidebar.toggleSidebar()">

 
<i class="fas fa-align-left"></i>
<span>Toggle Sidebar</span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="nav navbar-nav ms-auto">
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" (click)="toggleNotificationMenu()">
<i class="fas fa-bell"></i>
<span class="badge bg-danger" *ngIf="notificationCount > 0">{{notificationCount}}</span>
</a>
<ul class="dropdown-menu dropdown-menu-end" [class.show]="notificationMenuOpen">
<li><a class="dropdown-item" href="#">3 new employees to onboard</a></li>
<li><a class="dropdown-item" href="#">5 leave requests pending</a></li>
<li><a class="dropdown-item" href="#">2 payroll approvals needed</a></li>
<li><hr class="dropdown-divider"></li>
<li><a class="dropdown-item" href="#">View all notifications</a></li>
</ul>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" (click)="toggleUserMenu()">
<img src="https://via.placeholder.com/30" class="rounded-circle" alt="User">
<span>Admin User</span>
</a>
<ul class="dropdown-menu dropdown-menu-end" [class.show]="userMenuOpen">
<li><a class="dropdown-item" routerLink="/profile"><i class="fas fa-user"></i> Profile</a></li>
<li><a class="dropdown-item" href="#"><i class="fas fa-cog"></i> Settings</a></li>
<li><hr class="dropdown-divider"></li>
<li><a class="dropdown-item" href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
</ul>
</li>
</ul>
</div>
</div>
</nav>
 
<!-- Toast Component -->
<p-toast></p-toast>

 