/* @import "font-awesome/css/font-awesome.css"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 250px;
  transition: margin-left 0.3s;
  padding: 20px;
}

.main-content.sidebar-collapsed {
  margin-left: 60px;
}
