<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <h2>HRMS Portal</h2>
    <button (click)="toggleSidebar()" class="toggle-btn">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <nav class="sidebar-nav">
    <ul>
      <li class="active">
        <a href="finance-dashboard"
          ><i class="fas fa-tachometer-alt"></i>
          <span class="nav-text">Finance-Dashboard</span></a
        >
      </li>

      <li>
        <a href="/department"
          ><i class="fas fa-building"></i>
          <span class="nav-text">Department</span></a
        >
      </li>

      <li>
        <a href="/payroll"
          ><i class="fas fa-money-bill-wave"></i>
          <span class="nav-text">Payroll</span></a
        >
        <ul class="sub-menu">
          <li>
            <a href="/salary-structure"
              ><i class="fas fa-wallet"></i>
              <span class="nav-text">Salary Structure</span></a
            >
          </li>
          <li>
            <a href="/payroll"
              ><i class="fas fa-calculator"></i>
              <span class="nav-text">Payroll Processing</span></a
            >
          </li>
        </ul>
      </li>

     

      <li>
        <a href="/leave"
          ><i class="fas fa-calendar-times"></i>
          <span class="nav-text">Leave</span></a
        >
        <ul class="sub-menu">
          <li>
            <a href="/leavetype"
              ><i class="fas fa-list"></i>
              <span class="nav-text">Leave Types</span></a
            >
          </li>
          <li>
            <a href="/"
              ><i class="fas fa-calendar-alt"></i>
              <span class="nav-text">Leave Management</span></a
            >
          </li>
        </ul>
      </li>

      <li>
        <a href="/benifit"
          ><i class="fas fa-hand-holding-heart"></i>
          <span class="nav-text">Benefits</span></a
        >
        <ul class="sub-menu">
          <li>
            <a href="/"
              ><i class="fas fa-list"></i>
              <span class="nav-text">Benefit Types</span></a
            >
          </li>
          <li>
            <a href="/employeebenifit"
              ><i class="fas fa-user-tag"></i>
              <span class="nav-text">Employee Benefits</span></a
            >
          </li>
        </ul>
      </li>

      <li>
        <a href="/compliance"
          ><i class="fas fa-gavel"></i>
          <span class="nav-text">Compliance</span></a
        >
      </li>

      

      <li>
        <a href="/document"
          ><i class="fas fa-file-alt"></i>
          <span class="nav-text">Documents</span></a
        >
      </li>

      

     




    

      <li>
        <a href="/auditlog"
          ><i class="fas fa-clipboard-list"></i>
          <span class="nav-text">Audit Log</span></a
        >
      </li>

      <li>
        <a href="/"
          ><i class="fas fa-cog"></i> <span class="nav-text">Settings</span></a
        >
      </li>
    </ul>
  </nav>
</div>
